h2(align='center') Select System
form( name='systemForm')
	div(align='center')
		a(ui-sref='ais')
			img(align='left' src='/img/ballball.png' width='150' height='150')
		a(ui-sref='dtac')
			img(src='/img/ballball.png' width='150' height='150')
		a(ui-sref='true')
			img(align='right' src='/img/ballball.png' width='150' height='150')
	div(align='center')
		img(align='left' src='/img/bucketAIS.png' width='150' height='150')
		img(src='/img/bucketDtac.png' width='150' height='150')
		img(align='right' src='/img/bucketTrue.png' width='150' height='150')