h2(align='center' class='jumbotron') Select Payment
form(name='ststemForm')
	div(align='center')
		<br><br><br><br><br><br><br>
		button(class="btn btn-default", style="float:left;" )
			img(src='/img/counter_service.png' width='150' height='150')
		button(class="btn btn-default", style="float:center;" )
			img(src='/img/PayPallogo.png' width='250' height='150')
		button(class="btn btn-default", style="float:right;" )
			img(src='/img/Visalogo.png' width='150' height='150')