h2(align='center' class='jumbotron') True
form(name='telinfo')
	div
		label(for='telnumber') Tel Numbers : 
		input(name='telnumber',type='Numbers',placeholder='telnumber')
	div
		label(for='amount') Amount : 
		input(name='amount',type='amount',placeholder='amount')

